<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="timelineMapper">

    <insert id="insert">
        INSERT INTO timeline (fkAccount,content,sumnailImgPath,mainImgPath,likeCnt)
        VALUES (#{fkAccount},#{content},#{sumnailImgPath},#{mainImgPath},#{likeCnt})
    </insert>

    <update id="update">
        UPDATE timeline SET mainImgPath=#{mainImgPath},content=#{content} WHERE email=#{email}
    </update>

    <delete id="delete">
        DELETE FROM timeline WHERE fkAccount=#{fkAccount}
    </delete>

    <select id="getCount" resultType="int">
        SELECT COUNT(tid) FROM timeline
    </select>

    <select id="select" resultType="com.team.geaStargram.vo.TimeLine">
        SELECT * FROM timeline WHERE fkAccount=#{fkAccount}
    </select>

    <select id="selectAll" parameterType="hashmap" resultType="com.team.geaStargram.vo.TimeLine">
        SELECT * FROM timeline
    </select>

    <delete id="deleteAll">
        DELETE FROM timeline
    </delete>

</mapper>
