<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timeLineMapper">
    <insert id="insert">
        INSERT INTO timeline (fkAccount,content,sumnailImgPath,mainImgPath,likeCnt)
        VALUES (#{fkAccount},#{content},#{sumnailImgPath},#{mainImgPath},#{likeCnt})
    </insert>

    <update id="update">
        UPDATE timeline SET mainImgPath=#{mainImgPath},content=#{content} WHERE email=#{email}
    </update>

    <delete id="delete">
        DELETE FROM account WHERE email=#{email}
    </delete>

    <select id="getCount" resultType="int">
        SELECT COUNT(userid) FROM account
    </select>

    <select id="select" resultType="com.team.geaStargram.vo.Account">
        SELECT * FROM account WHERE email=#{email}
    </select>

    <select id="selectAll" resultType="com.team.geaStargram.vo.Account">
        SELECT * FROM account
    </select>

    <delete id="deleteAll">
        DELETE FROM account
    </delete>

</mapper>
